<% @beers.each do |beer| %>
	<div id= "found_beer" class="col-md-4">
		<% api_id = beer["id"] %>
		<% beer_db = Beer.find_by(api_id: "#{api_id}")['id'] %>

		<% if Beer.check_db_for_beer(api_id) %>
			<% Beer.create name:beer['name'], brewery:beer['breweries'].try(:first).try(:[], :name), api_id:beer['id'], style:beer['style'].try(:[], :name), abv:beer['abv'], srm:beer['srmId'], ibu:beer['ibu'], tags:beer['tags'], description:beer['description'] %>
		<% end %>


		<div id="found_beer_info">
			<%= link_to "../beers/#{Beer.find_by(api_id: "#{api_id}")['id']}" do %>
				<div id="found_beer_info">
					NAME: <%= beer['name'] %><br>
					BREWERY: <%= beer['breweries'][0]['name'] %><br>
					STYLE: <%= beer['style']['name'] %><br>
					ABV: <%= beer['abv'] %><br>
					SRM: <%= beer['srmId'] %><br>
					IBU: <%= beer['ibu'] %><br>
					DESCRIPTION: <%= truncate(beer['description'], length: 120) %><br>
				</div>
			<% end %>
			
			Recent Reviews:
			<div class="found_reviews">
				<% if Review.find_review(api_id)==false %>
					<%= "No Reviews" %>
				<% else %>
					<%= "Author: #{Review.get_author(beer_db)}" %><br>
					<%= "Review: #{truncate(Review.get_body(beer_db), length: 120)}" %>					
				<% end %>
			</div>

			<% if Review.create_review(api_id, current_user.id) %>
	  			<%= "Your Review: #{truncate(Review.get_current_user_review(api_id, current_user.id), length: 100)}" %>
    		<% else %>
       			<%= link_to "Add a review for this beer", new_beer_review_path(Beer.find_by(api_id: "#{api_id}")['id']) %>   
       		<% end %>
		</div>
	</div>
<% end %>