<div id="profile_header">
	<div id ="profile_information">
		<% if user_signed_in? %> 
			<%= "You are logged in as #{current_user.email}" %>
			<br>
			<%= "Hi, #{current_user.first_name}" %>
		<% else %>
			<%= link_to 'Log in to leave Notes', new_user_session_path %>
		<% end %>
	</div>

	<h2>What are you in the mood for?</h2><br>


</div>
<div id="main">
	<div id ="recent_reviews">
		<%= render 'recent_reviews' unless @beers %>
	</div>


	<div id="search">
		<%= render 'search' unless @beers %>

		<% if @beers %>
		  <%= render 'found' %>
		<% end %>
	</div>

	<%= render 'user_reviews' unless @beers %>
</div>
