<%= simple_form_for @beer do |f| %>
  <div class="input-group">
    <%= f.input :name %>
  </div>
  <br>
  <div class="input-group">
    <%= f.input  :brewery %>
  </div>
  <div class="input-group">
    <%= f.input  :style %>
  </div>
  <div class="input-group">
    <%= f.input  :description, class: 'form-control' %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
