<h2 class='text-center'><%= @beer.name %></h2>
<h2 class='text-center'>By <%= @beer.brewery %></h2>

<hr>
<br>

	<%= image_tag(@beer.label) %>

  	<h4>Description:</h4>
  	<p><%= @beer.description %></p>

      Score: <%= @beer.score %>
      style: <%= @beer.style %>
      abv: <%= @beer.abv %>
      srm: <%= @beer.srm %>
      ibu: <%= @beer.ibu %>
      tags: <%= @beer.tags %>

  	<h4>Reviews:</h4>
  	<% @beer.reviews.each do |review| %>
    	<p>By: <%= review.user.first_name %>
        <br><%= review.body %></p>
  	<% end %>
</div>