<h2 class='text-center'><%= @beer.name %></h2>
<h2 class='text-center'>By <%= @beer.brewery %></h2>

<hr>
<br>
<div>
	<%= image_tag(@beer.label) %>

  	<h4>Description:</h4>
  	<p><%= @beer.description %></p>

      Score: <%= @beer.score %>
      style: <%= @beer.style %>
      abv: <%= @beer.abv %>
      srm: <%= @beer.srm %>
      ibu: <%= @beer.ibu %>
      tags: <%= @beer.tags %>

  	<h4>Reviews:</h4>
    <% if Review.create_review(@beer.api_id, current_user.id) %>
      <%= "Your Review: #{Review.get_current_user_review(@beer.api_id, current_user.id)}" %>
    <% else %>
        <%= link_to "Add a review for this beer", new_beer_review_path(Beer.find_by(api_id: @beer.api_id)['id']) %>   
    <% end %>
  	


    <% @beer.reviews.each do |review| %>
    	<p>By: <%= User.find(review.user_id)["email"] %>
        <br><%= review.body %>
        <br>Last Updated: <%= review.updated_at %></p>
  	<% end %>
</div>