<h2 class='text-center'><%= @beer.name %></h2>
<hr>
<br>
<div class="row">
  <div class="text-center">

  </div>

  <h4>Description:</h4>
  <p><%= @beer.description %></p>



  <h4>Reviews:</h4>
  <% @beer.reviews.each do |review| %>
    <p>By: <%= review.user.first_name %><br><%= review.body %></p>
  <% end %>

  <%= link_to 'Edit', edit_beer_path(@beer) %> | <%= link_to 'Destroy', beer_path(@beer), method: :delete %>
</div>
