<h2 class='text-center'><%= @beer.name %></h2>
<h3 class='text-center'>By: <%= @beer.brewery %></h2>

<hr>
<br>
<div id="beer_info">

  <% label = @beer.label %>

  <% if label == nil %>
    <%= image_tag("no-label.png", width:"150", height:"150") %> 
  <% else %>
    <%= image_tag(label, width:"150", height:"150") %> 
  <% end %>


  	<h4>Description:</h4>
  	<p><%= @beer.description %></p>
    <hr>
    
    <div class="stats col-md-4">
      <h4>Stats:</h4>
      Style: <%= @beer.style %><br>
      ABV: <%= @beer.abv %><br>
      SRM: <%= @beer.srm %><br>
      IBU: <%= @beer.ibu %>
    </div>

    <div class="beer_reviews col-md-8">
    	<h4>Reviews:</h4>
      <%= render 'reviews' %> 
    </div>      

    <div class="col-md-12">
      <%= link_to 'Try a New Search', root_path, id:"btn-home", class:"btn btn-primary " %>
    </div>
</div>