<%= simple_form_for @review,  :url => url_for(:controller => 'reviews', :action => 'create') do |f| %>
	<div class="input-group">
		<%= f.input  :body %>
	</div>
	<br>
	<%= f.hidden_field :beer, :value => @beer.id %>
	<%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
	<%= f.submit class: 'btn btn-primary' %>
<% end %>
